backup-workflows-to-github.json
{"updatedAt":"2026-01-27T21:20:19.802Z","createdAt":"2026-01-27T13:06:20.101Z","id":"psuDoKPr5RTxhzpuIWV_d","name":"Backup Workflows to GitHub","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"cce54905-71f1-42e2-8348-26c88e50466a","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-384,304]},{"parameters":{"options":{}},"id":"de2c7ab0-8fa0-48e2-8fc4-3f3d05389ba7","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-160,304]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"6b53b3e5-85b2-4d23-a62f-5fddd61861cf","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-16,304]},{"parameters":{"content":"## Use date-time stamp as commit message\nCommit message is set in the format of `backup-mm-dd-yyyy/hh:mm`","height":275,"width":585},"id":"1d683f1b-2548-4330-bc32-286e9d55dd4f","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-176,192]},{"parameters":{"content":"## Get list of backed up workflows in GitHub\nGet list of existing files in GitHub. Used to lated decide if workflows need to be updated or backed up for the first time (create)","height":387,"width":390},"id":"890662e0-bbb4-4519-bba2-9eef50ecc9f6","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[928,80]},{"parameters":{"content":"## Get list of workflows in n8n instance\n\nCurrently set to back up non-published workflows. You can change to \"Return Only Published Workflows\" in the \"Retrieve workflows\" node.","height":387,"width":432},"id":"d934ec48-c80d-4d3a-8ced-b6f441313eaa","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1376,80]},{"parameters":{"content":"## Update repo with workflows\nFor workflows that exist in the repo  upload the current version in the n8n instance. Otherwise create the new file in the repo.","height":476,"width":432},"id":"74ea3708-38e4-40e0-92bb-1a705448f6ca","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2032,80]},{"parameters":{"content":"## ⚠️ Add credentials and update Variables node\n\n1. If not yet available create GitHub credential and n8n API credential\n2. Update the Variables node with your GitHub account and repo name where the workflows will be backed up.","height":219,"width":381},"id":"d8992843-9c43-4013-ab10-b02ca7c3c7fc","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[32,-64]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $('Variables').item.json.repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Variables').item.json.repo.name }}","mode":"name"},"filePath":"={{ $('Variables').item.json.path }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[560,256],"id":"8990ee16-0ce5-46cf-a95d-207081c42fef","name":"Get repository","webhookId":"b8592494-1173-48df-9941-f27c8aded552","alwaysOutputData":true,"credentials":{"githubApi":{"id":"Gt7jdEhCm7SRybZM","name":"GitHub account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"898e0cf9-dff9-4376-be4f-eed4fa1feb99","leftValue":"={{ $input.item.json }}","rightValue":0,"operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[752,256],"id":"26bcf8c1-f0e9-465a-ba52-971fa9c0f9b3","name":"Check if repo empty"},{"parameters":{"filters":{"activeWorkflows":false},"requestOptions":{}},"id":"579a2569-d72a-45fb-b107-3fbe559b3c68","name":"Retrieve workflows","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1408,240],"credentials":{"n8nApi":{"id":"1CHdM1cfaLc4WxFi","name":"n8n account rnapoles"}}},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1632,240],"id":"9e522753-5430-4c4b-892a-a3553565b25a","name":"Convert to file"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $('Variables').item.json.repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Variables').item.json.repo.name }}","mode":"name"},"filePath":"={{ $('Variables').item.json.path }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[976,320],"id":"b8784630-8d61-4924-a7b9-894f71f7e512","name":"List files","webhookId":"b8592494-1173-48df-9941-f27c8aded552","alwaysOutputData":false,"executeOnce":true,"credentials":{"githubApi":{"id":"Gt7jdEhCm7SRybZM","name":"GitHub account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0a912bde-0a4a-4ad6-b379-6d1d639f49ca","leftValue":"={{\n  $('Combine file names').isExecuted &&\n  $('Combine file names').item.json.name.includes(\n    $('Convert to file').item.binary.data.fileName\n  )\n}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2080,256],"id":"69823f21-8100-4727-8a10-33bc0db52d32","name":"Check if file exists"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Variables').item.json.repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Variables').item.json.repo.name }}","mode":"name"},"filePath":"={{ $('Convert to file').item.binary.data.fileName }}","fileContent":"={{ $json.data }}","commitMessage":"=Backup-{{ $('Set commit timestamp').item.json.commitDate }}-Workflow ID: {{ $('Retrieve workflows').item.json.id }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[2304,208],"id":"ea778157-c5a4-4174-b84d-8271bce7aad4","name":"Update a file","webhookId":"3d2ca99a-b6a3-4222-9bb7-20b2e85db169","credentials":{"githubApi":{"id":"Gt7jdEhCm7SRybZM","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Variables').item.json.repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Variables').item.json.repo.name }}","mode":"name"},"filePath":"={{ $('Convert to file').item.binary.data.fileName }}","fileContent":"={{ $json.data }}","commitMessage":"=Backup new workflow-{{ $('Set commit timestamp').item.json.commitDate }}-Workflow ID: {{ $('Retrieve workflows').item.json.id }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[2304,400],"id":"654afaad-e7e1-47dd-bb86-b56e025d9dc9","name":"Create a file","webhookId":"3d2ca99a-b6a3-4222-9bb7-20b2e85db169","credentials":{"githubApi":{"id":"Gt7jdEhCm7SRybZM","name":"GitHub account"}}},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[1872,256],"id":"2f50155f-4b4d-421a-bd4a-00c8d70ce87d","name":"Move to base64"},{"parameters":{"assignments":{"assignments":[{"id":"230b1084-4850-41fc-88ee-781140df6a7a","name":"repo.owner","value":"rnapoles-rh","type":"string"},{"id":"c47caba5-d5b2-4c50-a555-77f7075b0dc9","name":"repo.name","value":"n8n-workflows","type":"string"},{"id":"d8699914-6f5c-4418-b6c0-5f0a77107f0c","name":"path","value":"/","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,304],"id":"e5e80a70-bc4e-4092-9255-8796d1f2cdd5","name":"Variables"},{"parameters":{"rule":{"interval":[{"triggerAtHour":21}]}},"id":"2882e2f8-8e7a-464d-94cf-ab336532ab63","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-400,512],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"9d771254-ea55-45c9-b02b-ddac2c157278","name":"commitDate","value":"={{ $json.formattedDate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[128,304],"id":"b62f5786-52de-4a2c-8cc5-1005b501a4b6","name":"Set commit timestamp"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1184,320],"id":"d75138d4-d92a-40b3-b28b-747581921b05","name":"Combine file names"}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit timestamp","type":"main","index":0}]]},"Get repository":{"main":[[{"node":"Check if repo empty","type":"main","index":0}]]},"Check if repo empty":{"main":[[{"node":"Retrieve workflows","type":"main","index":0}],[{"node":"List files","type":"main","index":0}]]},"Retrieve workflows":{"main":[[{"node":"Convert to file","type":"main","index":0}]]},"Convert to file":{"main":[[{"node":"Move to base64","type":"main","index":0}]]},"List files":{"main":[[{"node":"Combine file names","type":"main","index":0}]]},"Check if file exists":{"main":[[{"node":"Update a file","type":"main","index":0}],[{"node":"Create a file","type":"main","index":0}]]},"Move to base64":{"main":[[{"node":"Check if file exists","type":"main","index":0}]]},"Variables":{"main":[[{"node":"Get repository","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set commit timestamp":{"main":[[{"node":"Variables","type":"main","index":0}]]},"Combine file names":{"main":[[{"node":"Retrieve workflows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e72728e2-e0a0-4b65-9098-715080207ace","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-27T13:06:20.101Z","createdAt":"2026-01-27T13:06:20.101Z","role":"workflow:owner","workflowId":"psuDoKPr5RTxhzpuIWV_d","projectId":"VUOD9GlJHSZ97mQy"}],"activeVersion":null,"tags":[]}