cmOO7_wSU9Em95aHYSO_K.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Pass in id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Option aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Values": {
      "main": [
        [
          {
            "node": "Found in github",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit as New": {
      "main": [
        [
          {
            "node": "Is commit new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is commit new": {
      "main": [
        [
          {
            "node": "Comment for new workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON File": {
      "main": [
        [
          {
            "node": "To Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To Base64": {
      "main": [
        [
          {
            "node": "Workflow Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Check any update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Found in github": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Commit as New",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find by project id": {
      "main": [
        [
          {
            "node": "JSON File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Project not found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form": {
      "main": [
        [
          {
            "node": "Selected id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Option aggregate": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selected id": {
      "main": [
        [
          {
            "node": "Find by project id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass in id": {
      "main": [
        [
          {
            "node": "Find by project id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "GIthub get all",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GIthub get all": {
      "main": [
        [
          {
            "node": "Agg. to Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agg. to Array": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit new workflow": {
      "main": [
        [
          {
            "node": "New Workflow Commit Successfully",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check any update": {
      "main": [
        [
          {
            "node": "Comment for commit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No update detected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update File": {
      "main": [
        [
          {
            "node": "Update successful",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment for new workflow": {
      "main": [
        [
          {
            "node": "Commit new workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment for commit": {
      "main": [
        [
          {
            "node": "Update File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-23T20:59:14.441Z",
  "id": "cmOO7_wSU9Em95aHYSO_K",
  "isArchived": false,
  "meta": null,
  "name": "Github Commit",
  "nodes": [
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        688,
        608
      ],
      "id": "3aea18ab-4d6f-4d0a-b6b3-ab948d734caf",
      "name": "n8n"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "=[\n    {\n\t\t\"fieldLabel\": \"Select a project\",\n\t\t\"fieldType\": \"dropdown\",\n\t\t\"fieldOptions\": {\n\t\t\t\"values\":{{ JSON.stringify($json.values.map(item=>({'option':item.name}))) }}\n\t\t},\n\t\t\"requiredField\": true\n\t}\n]",
        "options": {
          "formTitle": "Select a Project for version control"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        1040,
        672
      ],
      "id": "939e0479-dca9-4e38-ab4b-26108c4d9140",
      "name": "Form",
      "webhookId": "44f6854d-4cda-4b7d-8642-ad893354d296"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('On form submission').item.json.formQueryParameters && $('On form submission').item.json.formQueryParameters.id != null  }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "5a839b58-075d-4537-ad22-2572bdef2c44"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "selected_project"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        512,
        432
      ],
      "id": "1b5de292-ed42-47ce-b5a4-6a7defc09702",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2514ed01-ff5d-43bb-90c1-a676c7af0a75",
              "leftValue": "={{ $json.isArchived }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        800,
        672
      ],
      "id": "b6f890b8-f697-451c-a569-bc3735b20b9d",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Project Not Foound",
        "completionMessage": "=Your project  \"{{ $('On form submission').item.json.formQueryParameters.name }}\" doesn't exist.",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        1600,
        544
      ],
      "id": "95b97ebc-ea86-4bf8-bbb8-098e587ae3c4",
      "name": "Project not found",
      "webhookId": "73c34803-3b2e-49f8-b569-2d468ad4e2b9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "da7a365b-0d75-464d-918e-ac6af190146d",
              "name": "id",
              "value": "={{ $('Find by project id').item.json.id }}",
              "type": "string"
            },
            {
              "id": "e4d6ee3d-613b-47d4-9e06-132de75dd609",
              "name": "name",
              "value": "={{ $('Find by project id').item.json.name }}",
              "type": "string"
            },
            {
              "id": "0ab5fac1-354b-4cea-bc71-fb62a153cefe",
              "name": "github_file_name",
              "value": "={{ $('Find by project id').item.json.name }}-{{ $('Find by project id').item.json.id }}.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1920,
        368
      ],
      "id": "df6caac3-7cbe-482f-b2a4-cb6842edb448",
      "name": "Workflow Values"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Commit the new workflow?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "formTitle": "=New project found",
          "formDescription": "=Project: \"{{$('Workflow Values').item.json.github_file_name}}\"\n\nThe project is not found in Github. Want to start a new project commit?"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        2320,
        688
      ],
      "id": "beaea581-b82e-42cd-89f1-1a4a7bd364b7",
      "name": "Commit as New",
      "webhookId": "c476e4ea-2b70-4185-8b0b-f45065a2b6a2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Commit the new workflow?'] }}",
                    "rightValue": "Yes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b814b0e5-b09d-47eb-838f-f8d8b77f5047"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2480,
        688
      ],
      "id": "78cc640f-747b-4d34-b3c4-1c8e8f9d322d",
      "name": "Is commit new"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "format": true
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1600,
        368
      ],
      "id": "2b874826-452a-4091-a21a-f7ac80042916",
      "name": "JSON File"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1760,
        368
      ],
      "id": "36d9b271-2eb0-4da9-9d22-d08a278c9c1f",
      "name": "To Base64"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "alvinscloud-demo",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_workflows",
          "mode": "list",
          "cachedResultName": "n8n_workflows",
          "cachedResultUrl": "https://github.com/alvinscloud-demo/n8n_workflows"
        },
        "filePath": "={{ $('Workflow Values').item.json.github_file_name }}",
        "fileContent": "={{ $('To Base64').item.json.data }}",
        "commitMessage": "={{ $json['Commit comment'] }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2848,
        272
      ],
      "id": "87700075-f953-4078-976d-e3832e8078d2",
      "name": "Update File",
      "webhookId": "7807fe16-db54-4c7d-936b-d61e7909061a"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "alvinscloud-demo",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_workflows",
          "mode": "list",
          "cachedResultName": "n8n_workflows",
          "cachedResultUrl": "https://github.com/alvinscloud-demo/n8n_workflows"
        },
        "filePath": "={{ $('Workflow Values').item.json.github_file_name }}",
        "asBinaryProperty": false,
        "additionalParameters": {
          "reference": ""
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2320,
        368
      ],
      "id": "213d08e0-944a-4f44-b872-fffd3c2a1c20",
      "name": "Download File",
      "webhookId": "2627f6eb-e6f9-44d7-b943-508c8472f316"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "99923f83-9a4d-467e-830e-33d7449149fb",
              "leftValue": "={{ $('Agg. to Array').item.json.github_file_names }}",
              "rightValue": "={{ $json.github_file_name }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2080,
        368
      ],
      "id": "9ed49095-f38e-40d4-82d4-5cc26be92877",
      "name": "Found in github"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "No Update Detected",
        "completionMessage": "No change is detected.",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        2704,
        448
      ],
      "id": "fd481acc-4fc3-43ee-aa90-a9098e4b92b8",
      "name": "No update detected",
      "webhookId": "1014f819-d761-42f4-afbc-f3968ad7c44a"
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.id}}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        1392,
        464
      ],
      "id": "71e710fb-9f68-4639-88fe-692c5dff76a3",
      "name": "Find by project id",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "values",
        "include": "specifiedFields",
        "fieldsToInclude": "id, name",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        928,
        720
      ],
      "id": "d5fa116c-652f-4c99-84a4-515a6d8a7080",
      "name": "Option aggregate"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nconst all_projects = $('Option aggregate').first().json.values;\nconst nameToFind = $input.first().json['Select a project']; // Replace with the name you want to find\nconst found = all_projects.find(item => item.name === nameToFind);\nreturn [{ json: { id: found ? found.id : null } }];\n\n\n// for (const item of $input.all()) {\n//   item.json.myNewField = 1;\n// }\n\n// return $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        592
      ],
      "id": "3b901d1b-3d81-46fd-a4c4-0920d63d8393",
      "name": "Selected id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fffbcd0c-4f17-4634-a79e-33ff6fb213e7",
              "name": "id",
              "value": "={{ $('On form submission').item.json.formQueryParameters.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        272
      ],
      "id": "3d5e031a-4711-45ad-bfb2-c81a473af480",
      "name": "Pass in id"
    },
    {
      "parameters": {
        "formTitle": "Commit workflow changes",
        "formDescription": "=Commit your workflow changes into Github",
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Next",
          "path": "4a092150-3955-490a-aa84-7d09dda32e05",
          "ignoreBots": true
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        432
      ],
      "id": "31973679-4395-49c2-acbd-3b95b7428ccd",
      "name": "On form submission",
      "webhookId": "4a092150-3955-490a-aa84-7d09dda32e05"
    },
    {
      "parameters": {
        "content": "## Click [here](https://your-n8n-url/form/commit?id=123456789ABC) to commit change ",
        "height": 140,
        "width": 440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "a686b6b4-98a5-49a6-9b71-941578c021c7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Get all files from Github",
        "height": 260,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        352
      ],
      "typeVersion": 1,
      "id": "60dd6a46-7055-48d8-8f9f-e50d5c764a40",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "repository": {
          "__rl": true,
          "value": "n8n_workflows",
          "mode": "list",
          "cachedResultName": "n8n_workflows",
          "cachedResultUrl": "https://github.com/alvinscloud-demo/n8n_workflows"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        160,
        432
      ],
      "id": "77684fb9-3c6a-4871-80a3-c418f8123d6b",
      "name": "GIthub get all",
      "webhookId": "171d0104-1b96-4953-bfb3-18821c7fd7d2",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "github_file_names",
        "include": "specifiedFields",
        "fieldsToInclude": "name",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        320,
        432
      ],
      "id": "7fbef253-21fc-4396-81e2-fe6ac9a2283c",
      "name": "Agg. to Array"
    },
    {
      "parameters": {
        "content": "## With designated workflow id\nFrom form's GET argument",
        "height": 260,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        208
      ],
      "typeVersion": 1,
      "id": "62802814-f87d-4d16-885f-2ce5f791b248",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Without a designated workflow id\nFrom form's GET argument",
        "height": 360,
        "width": 640,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        528
      ],
      "typeVersion": 1,
      "id": "8f7867fd-a4e5-4fcb-a8e8-2de4f5bac28a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Prepare the latest workflow",
        "height": 440,
        "width": 660,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1568,
        288
      ],
      "typeVersion": 1,
      "id": "cbef3b28-acdf-4359-8b9b-12670af04984",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "alvinscloud-demo",
          "mode": "list",
          "cachedResultName": "alvinscloud-demo",
          "cachedResultUrl": "https://github.com/alvinscloud-demo"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_workflows",
          "mode": "list",
          "cachedResultName": "n8n_workflows",
          "cachedResultUrl": "https://github.com/alvinscloud-demo/n8n_workflows"
        },
        "filePath": "={{ $('Workflow Values').item.json.github_file_name }}",
        "fileContent": "={{ $('To Base64').item.json.data }}",
        "commitMessage": "={{ $json['Commit comment'] }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2832,
        688
      ],
      "id": "b18dc706-abfe-4fef-8254-f2dd24c4cfdd",
      "name": "Commit new workflow",
      "webhookId": "17c8a323-88d7-4475-a062-c217639b1a66"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fd9b7654-3ec7-4e91-9607-9e0caabbffdf",
              "leftValue": "={{ $json.content.replace(/\\n/g, '') }}",
              "rightValue": "={{ $('To Base64').item.json.data }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2512,
        368
      ],
      "id": "6b223cbd-2c80-4187-a6ea-59f0a4b93e6f",
      "name": "Check any update"
    },
    {
      "parameters": {
        "content": "## Update workflow if any",
        "height": 380,
        "width": 940,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2288,
        208
      ],
      "typeVersion": 1,
      "id": "e4ea7139-6d5e-4493-9312-7600e16d185a",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Commit new workflow",
        "height": 320,
        "width": 940,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2288,
        608
      ],
      "typeVersion": 1,
      "id": "6683430e-bbac-4e9b-ab7f-cf17f5886427",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Commit Successful",
        "completionMessage": "=Commited file name: \"{{$('Workflow Values').item.json.github_file_name}}\"",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        3008,
        272
      ],
      "id": "cfe57678-ad1c-4f52-9604-7486f0b04c16",
      "name": "Update successful",
      "webhookId": "d684025b-1c8c-4b5f-a3eb-4780f8663785"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Commit Completed Successfully",
        "completionMessage": "=Commited file name: \"{{$('Workflow Values').item.json.github_file_name}}\"",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        3024,
        688
      ],
      "id": "df433378-5ade-485e-bc44-5d294e536c27",
      "name": "New Workflow Commit Successfully",
      "webhookId": "d684025b-1c8c-4b5f-a3eb-4780f8663785"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Commit comment",
              "fieldType": "textarea",
              "placeholder": "1. New sub-workflow handling ...\n2. New update on ...",
              "requiredField": true
            }
          ]
        },
        "options": {
          "formTitle": "Commit workflow",
          "formDescription": "=Project name:  {{ $('Workflow Values').item.json.github_file_name }}"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        2640,
        688
      ],
      "id": "05d8b36b-bb65-427a-96a7-d720f1b64727",
      "name": "Comment for new workflow",
      "webhookId": "8ccc5037-d4c1-4a50-900f-64fb81df1ead"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Commit comment",
              "fieldType": "textarea",
              "placeholder": "1. New sub-workflow handling ...\n2. New update on ...",
              "requiredField": true
            }
          ]
        },
        "options": {
          "formTitle": "Commit workflow",
          "formDescription": "=Project name:  {{ $('Workflow Values').item.json.github_file_name }}",
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        2688,
        272
      ],
      "id": "0413a722-af6e-432d-87a5-4e593c700566",
      "name": "Comment for commit",
      "webhookId": "8ccc5037-d4c1-4a50-900f-64fb81df1ead"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "rnapoles-rh",
    "name": "n8n-workflows"
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-23T20:59:14.443Z",
      "createdAt": "2026-01-23T20:59:14.443Z",
      "role": "workflow:owner",
      "workflowId": "cmOO7_wSU9Em95aHYSO_K",
      "projectId": "MiwM7DfkZmXTNOlB"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-01-23T20:59:12.884Z",
      "createdAt": "2026-01-23T20:59:12.884Z",
      "id": "xrkory8YPW0fKFDz",
      "name": "Prod"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-23T20:59:14.441Z",
  "versionId": "fb409947-07ed-453f-bda1-d69b1132d662"
}