export-workflows-to-github-7OKYNGrmk-oUa5KHJ4mcl.json
{"updatedAt":"2026-01-22T13:26:17.000Z","createdAt":"2026-01-20T21:17:10.788Z","id":"7OKYNGrmk-oUa5KHJ4mcl","name":"Export Workflows to GitHub","active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"16fdf466-e43d-410d-898b-783b0dff80ac","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1600,112]},{"parameters":{"filters":{},"requestOptions":{}},"id":"fb0bf08c-1ce3-4416-a907-4078056886fa","name":"Get All Workflows","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1408,112],"credentials":{"n8nApi":{"id":"we13iymNVUf5WmFA","name":"n8n account"}}},{"parameters":{"operation":"toJson"},"id":"ede599ff-f5e0-49e6-b026-bf3d4c831d32","name":"Convert to JSON","type":"n8n-nodes-base.itemLists","typeVersion":3,"position":[-1200,112]},{"parameters":{},"id":"f04136d5-d75a-47d5-b521-8d4396f45c85","name":"Write Workflows to File","type":"n8n-nodes-base.files","typeVersion":1,"position":[-1008,112]},{"parameters":{},"id":"51de3ba7-d6c1-4d48-a036-d1bab5cbf7af","name":"Git Add","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-800,112]},{"parameters":{},"id":"6b168804-b800-4dd6-943d-ffe634b37583","name":"Git Commit","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-608,112]},{"parameters":{},"id":"fae59f08-42f1-48df-8506-fdd47dd8e654","name":"Git Push","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-400,112],"continueOnFail":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.stderr || $json.stdout }}","operation":"contains","value2":"conflict"},{"value1":"={{ $json.stderr || $json.stdout }}","operation":"contains","value2":"error"},{"value1":"={{ $json.stderr || $json.stdout }}","operation":"contains","value2":"rejected"}]},"combineOperation":"any"},"id":"65f92833-446a-4b65-9c7e-5fa5187c173f","name":"Check for Conflicts","type":"n8n-nodes-base.if","typeVersion":1,"position":[-208,112]},{"parameters":{"values":{"string":[{"name":"status","value":"success"},{"name":"message","value":"Workflows successfully exported and pushed to GitHub"},{"name":"timestamp","value":"={{ $now.toISO() }}"},{"name":"details","value":"={{ $json.stdout || $json.stderr }}"}]},"options":{}},"id":"06aad4a5-7051-4614-8a09-5d0f6f52fbb8","name":"Success Message","type":"n8n-nodes-base.set","typeVersion":2,"position":[0,0]},{"parameters":{"values":{"string":[{"name":"status","value":"conflict"},{"name":"message","value":"Conflict detected during git push"},{"name":"timestamp","value":"={{ $now.toISO() }}"},{"name":"error_details","value":"={{ $json.stderr || $json.stdout }}"},{"name":"action_required","value":"Please resolve conflicts manually and retry"}]},"options":{}},"id":"bc1e308c-7aa5-493c-8ad5-a6ef105e25bf","name":"Conflict/Error Message","type":"n8n-nodes-base.set","typeVersion":2,"position":[0,208]},{"parameters":{"operation":"add"},"type":"n8n-nodes-base.git","typeVersion":1.1,"position":[-624,256],"id":"cc78bfc9-cd63-435b-b1f1-1d89f22d3ccd","name":"Git"},{"parameters":{"operation":"push","options":{}},"type":"n8n-nodes-base.git","typeVersion":1.1,"position":[-416,256],"id":"f18c8758-0bed-47f9-8013-96ef952bdbcf","name":"Git1"},{"parameters":{"operation":"commit","options":{}},"type":"n8n-nodes-base.git","typeVersion":1.1,"position":[-208,256],"id":"a76de169-b91f-4602-bbc9-0bf2ebd44495","name":"Git2"}],"connections":{"Manual Trigger":{"main":[[{"node":"Get All Workflows","type":"main","index":0}]]},"Get All Workflows":{"main":[[{"node":"Convert to JSON","type":"main","index":0}]]},"Check for Conflicts":{"main":[[{"node":"Success Message","type":"main","index":0}],[{"node":"Conflict/Error Message","type":"main","index":0}]]},"Git":{"main":[[]]},"Git1":{"main":[[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ab7b167a-96c2-4ac2-b827-ee20f621df2c","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-20T21:17:10.790Z","createdAt":"2026-01-20T21:17:10.790Z","role":"workflow:owner","workflowId":"7OKYNGrmk-oUa5KHJ4mcl","projectId":"MiwM7DfkZmXTNOlB"}],"activeVersion":null,"tags":[]}