import-workflows-from-github-lpavzwcZVeO2hqXov7FoS.json
{"updatedAt":"2026-01-23T19:52:31.229Z","createdAt":"2026-01-23T17:44:17.339Z","id":"lpavzwcZVeO2hqXov7FoS","name":"Import Workflows from GitHub","active":false,"isArchived":false,"nodes":[{"parameters":{"authentication":"oAuth2","owner":{"__rl":true,"value":"rnapoles-rh","mode":"list","cachedResultName":"rnapoles-rh","cachedResultUrl":"https://github.com/rnapoles-rh"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/rnapoles-rh/n8n-workflows"},"events":["push"],"options":{}},"id":"e776c51d-6479-46f8-bce6-5fe1553280cd","name":"GitHub Push Trigger","type":"n8n-nodes-base.githubTrigger","typeVersion":1,"position":[-1440,64],"webhookId":"github-webhook-import","credentials":{"githubOAuth2Api":{"id":"Df9QBITxUay3KHcv","name":"GitHub account"}}},{"parameters":{"values":{"string":[{"name":"repository","value":"={{ $json.repository.full_name }}"},{"name":"branch","value":"={{ $json.ref.replace('refs/heads/', '') }}"},{"name":"commit_sha","value":"={{ $json.after }}"},{"name":"commit_message","value":"={{ $json.head_commit.message }}"},{"name":"author","value":"={{ $json.head_commit.author.name }}"},{"name":"clone_url","value":"={{ $json.repository.clone_url }}"}]},"options":{}},"id":"54e7ea54-ded4-41c2-aa9a-6a85e53668ef","name":"Extract GitHub Data","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1232,64]},{"parameters":{},"id":"08216fd6-759d-4bbb-bb9d-00b11d3dbef0","name":"Checkout Repository","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-1040,64]},{"parameters":{},"id":"38fea9b5-fe65-4e1e-993e-116fb076e53b","name":"Find Workflow Files","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-832,64]},{"parameters":{"options":{}},"id":"1df20fcf-d6a4-4841-975a-ffb8c0692bed","name":"Split File List","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-640,64]},{"parameters":{},"id":"0acde552-ded6-4c7d-8507-fbf1d857f0e1","name":"Read Workflow File","type":"n8n-nodes-base.files","typeVersion":1,"position":[-432,64]},{"parameters":{"jsCode":"const workflowData = JSON.parse($input.item.json.data);\n\n// Add branch information to workflow metadata\nif (!workflowData.settings) {\n  workflowData.settings = {};\n}\n\nworkflowData.settings.importedFrom = {\n  repository: '{{ $node[\"Extract GitHub Data\"].json[\"repository\"] }}',\n  branch: '{{ $node[\"Extract GitHub Data\"].json[\"branch\"] }}',\n  commit: '{{ $node[\"Extract GitHub Data\"].json[\"commit_sha\"] }}',\n  importedAt: new Date().toISOString()\n};\n\nreturn { json: workflowData };"},"id":"065a8a06-5cdb-46f1-bae9-864b2d4e4a15","name":"Parse and Tag Workflow","type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,64]},{"parameters":{"operation":"create","workflowObject":"={{ JSON.stringify($json) }}","requestOptions":{}},"id":"68317145-34ec-4ee2-9735-a32181075548","name":"Import to n8n","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-32,64],"continueOnFail":true},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.error }}","operation":"notExists"}]}},"id":"bde013bc-4b25-4708-8775-9b3867b5ddf7","name":"Check Import Success","type":"n8n-nodes-base.if","typeVersion":1,"position":[176,64]},{"parameters":{"values":{"string":[{"name":"status","value":"success"},{"name":"workflow_name","value":"={{ $json.name }}"},{"name":"workflow_id","value":"={{ $json.id }}"},{"name":"message","value":"Workflow imported successfully"},{"name":"branch","value":"={{ $('Extract GitHub Data').item.json.branch }}"},{"name":"repository","value":"={{ $('Extract GitHub Data').item.json.repository }}"}]},"options":{}},"id":"b518ce70-f672-4fea-bbcf-4e137d3fd129","name":"Import Success","type":"n8n-nodes-base.set","typeVersion":2,"position":[368,-48]},{"parameters":{"values":{"string":[{"name":"status","value":"failed"},{"name":"workflow_file","value":"={{ $('Read Workflow File').item.json.stdout }}"},{"name":"message","value":"Failed to import workflow"},{"name":"error","value":"={{ $json.error || 'Unknown error' }}"},{"name":"branch","value":"={{ $('Extract GitHub Data').item.json.branch }}"}]},"options":{}},"id":"23041eb2-56a7-46b0-adf5-1b72f5ccf476","name":"Import Failed","type":"n8n-nodes-base.set","typeVersion":2,"position":[368,160]},{"parameters":{"functionCode":"const allItems = $input.all();\nconst successes = allItems.filter(item => item.json.status === 'success');\nconst failures = allItems.filter(item => item.json.status === 'failed');\n\nreturn {\n  json: {\n    total_workflows: allItems.length,\n    successful_imports: successes.length,\n    failed_imports: failures.length,\n    repository: '{{ $node[\"Extract GitHub Data\"].json[\"repository\"] }}',\n    branch: '{{ $node[\"Extract GitHub Data\"].json[\"branch\"] }}',\n    commit: '{{ $node[\"Extract GitHub Data\"].json[\"commit_sha\"] }}',\n    commit_message: '{{ $node[\"Extract GitHub Data\"].json[\"commit_message\"] }}',\n    author: '{{ $node[\"Extract GitHub Data\"].json[\"author\"] }}',\n    imported_at: new Date().toISOString(),\n    summary: `Imported ${successes.length}/${allItems.length} workflows from branch {{ $node[\"Extract GitHub Data\"].json[\"branch\"] }}`,\n    successes: successes.map(s => s.json.workflow_name),\n    failures: failures.map(f => ({ file: f.json.workflow_file, error: f.json.error }))\n  }\n};"},"id":"cda5a5d2-cd65-4c03-8022-49c8083c344a","name":"Summary Report","type":"n8n-nodes-base.function","typeVersion":1,"position":[576,64]},{"parameters":{"content":"## ⚠️ Add credentials and update GitHub nodes\n\nWorkflow Steps:\n  1. GitHub Push Trigger - Listens for push events to the rnapoles-rh/n8n-workflows repository\n  2. Extract GitHub Data - Gets repository, branch, commit info, and clone URL\n  3. Checkout Repository - Clones (first time) or pulls the repository to local storage\n  4. Find Workflow Files - Searches for all .json files in the repository\n  5. Split File List - Processes each workflow file individually\n  6. Read Workflow File - Reads the JSON content\n  7. Parse and Tag Workflow - Adds metadata to track source (repository, branch, commit, timestamp)\n  8. Import to n8n - Creates the workflow in your n8n instance\n  9. Check Import Success - Validates the import\n  10. Import Success/Failed - Tracks results for each workflow\n  11. Summary Report - Final report with:\n    - Total workflows imported\n    - Success/failure counts\n    - Branch and commit information\n    - List of successful imports\n    - List of failed imports with errors\n\n  Configuration needed:\n  - Configure GitHub API credentials\n  - Set LOCAL_REPO_PATH environment variable (default: /tmp/n8n-workflows)\n  - Configure n8n API credentials\n\n  Branch Storage:\n  Each imported workflow includes metadata in settings.importedFrom with:\n  - Repository name\n  - Branch name\n  - Commit SHA\n  - Import timestamp\n\n  When you push to GitHub, this workflow automatically imports all workflows from that branch into your n8n instance.","height":731,"width":381},"id":"d195de53-31d6-4312-93cb-7a89c81a05f6","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1904,-320]},{"parameters":{"assignments":{"assignments":[{"id":"230b1084-4850-41fc-88ee-781140df6a7a","name":"repo.owner","value":"rnapoles-rh","type":"string"},{"id":"c47caba5-d5b2-4c50-a555-77f7075b0dc9","name":"repo.name","value":"n8n-workflows","type":"string"},{"id":"d8699914-6f5c-4418-b6c0-5f0a77107f0c","name":"path","value":"/","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1440,-160],"id":"fd466763-7814-4780-8b45-bf79bd6081e3","name":"Variables"}],"connections":{"GitHub Push Trigger":{"main":[[{"node":"Extract GitHub Data","type":"main","index":0}]]},"Parse and Tag Workflow":{"main":[[{"node":"Import to n8n","type":"main","index":0}]]},"Import to n8n":{"main":[[{"node":"Check Import Success","type":"main","index":0}]]},"Check Import Success":{"main":[[{"node":"Import Success","type":"main","index":0}],[{"node":"Import Failed","type":"main","index":0}]]},"Import Success":{"main":[[{"node":"Summary Report","type":"main","index":0}]]},"Import Failed":{"main":[[{"node":"Summary Report","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"2e580e4c-41fd-41aa-b020-ebb8c7d09ae4","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-23T17:44:17.341Z","createdAt":"2026-01-23T17:44:17.341Z","role":"workflow:owner","workflowId":"lpavzwcZVeO2hqXov7FoS","projectId":"MiwM7DfkZmXTNOlB"}],"activeVersion":null,"tags":[]}