my-workflow-3.json
{"updatedAt":"2026-01-27T21:18:07.860Z","createdAt":"2026-01-27T19:42:26.501Z","id":"S4R65gICB4s0-4mEv67yJ","name":"My workflow 3","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"GitHub PR Review Counter","formDescription":"Select a date range to count PR reviews per contributor in the podman-desktop repository","formFields":{"values":[{"fieldLabel":"Start Date","fieldType":"date","fieldName":"startDate","requiredField":true},{"fieldLabel":"End Date","fieldType":"date","fieldName":"endDate","requiredField":true}]},"options":{"appendAttribution":false,"buttonLabel":"Count Reviews"}},"id":"12d38c6a-58af-4815-bd20-49ab5ff061dc","name":"Form: Select Date Range","type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[-1328,0],"webhookId":"ae38049f-feab-43ca-8b6d-9c9706945dde"},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"startDate","value":"={{ $json.startDate }}","type":"string"},{"id":"id-2","name":"endDate","value":"={{ $json.endDate }}","type":"string"},{"id":"id-3","name":"repository","value":"podman-desktop","type":"string"},{"id":"id-4","name":"owner","value":"podman-desktop","type":"string"},{"id":"id-5","name":"submittedAt","value":"={{ $now.toISO() }}","type":"string"}]},"options":{}},"id":"06055f5e-8b7f-401c-a7a7-98a82a85db3c","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1104,0]},{"parameters":{"resource":"repository","owner":{"__rl":true,"mode":"name","value":"={{ $json.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $json.repository }}"},"returnAll":true,"getRepositoryIssuesFilters":{"labels":"","state":"all"}},"id":"ffab8958-c584-4346-a5a5-f95a7962cf50","name":"Get Pull Requests","type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-656,0],"webhookId":"98884a49-1727-4e67-b63b-5034eaf41036","credentials":{"githubApi":{"id":"Gt7jdEhCm7SRybZM","name":"GitHub account"}}},{"parameters":{"jsCode":"// Get the date range from the form submission\nconst startDate = new Date($('Form: Select Date Range').item.json.startDate);\nconst endDate = new Date($('Form: Select Date Range').item.json.endDate);\n\n// Get all pull requests from the previous node\nconst pullRequests = $input.all();\n\n// Filter PRs by date range\nconst filteredPRs = pullRequests.filter(pr => {\n  const createdAt = new Date(pr.json.created_at);\n  return createdAt >= startDate && createdAt <= endDate;\n});\n\n// Return the filtered pull requests\nreturn filteredPRs;"},"id":"f75e2b11-e44c-4a3b-a9bf-393d2a10d3b5","name":"Filter PRs by Date Range","type":"n8n-nodes-base.code","typeVersion":2,"position":[-432,0]},{"parameters":{"batchSize":10,"options":{}},"id":"6fbbdb4d-c02e-41d5-bbfa-dc4b9a912c01","name":"Loop Over PRs","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-208,0]},{"parameters":{"url":"={{ 'https://api.github.com/repos/' + $('Workflow Configuration').item.json.owner + '/' + $('Workflow Configuration').item.json.repository + '/pulls/' + $json.number + '/reviews' }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github+json"},{"name":"User-Agent","value":"n8n-workflow"}]},"options":{}},"id":"fa47d58e-302e-40da-bf87-46d78b8f7997","name":"Get PR Reviews","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[16,-96],"credentials":{"githubApi":{"id":"Gt7jdEhCm7SRybZM","name":"GitHub account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"164d7cde-7e8a-4187-8504-1e5852a5e16f","name":"Collect All Reviews","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[16,96]},{"parameters":{"fieldsToSummarize":{"values":[{"field":"user.login"}]},"fieldsToSplitBy":"user.login","options":{}},"id":"dfbf9d3f-2766-4ea0-874c-4f250255c3b5","name":"Count Reviews per Contributor","type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[240,96]},{"parameters":{"content":"The workflow starts with a form where you select start and end dates. Once submitted, it:\n\n1.    Fetches all pull requests from the podman-desktop/podman-desktop repository\n2.    Filters them to only include PRs within your selected date range\n3.    Loops through each PR to retrieve all reviews via the GitHub API\n4.    Aggregates all the review data\n5.    Counts how many reviews each contributor has made\n6.    Stores the form submissions in a Data Table for tracking\n\nSetup Required:\n\n*    GitHub credentials: You'll need to add GitHub authentication to the \"Get PR Reviews\" HTTP Request node. This allows the workflow to access the GitHub API for fetching review data.\n*    The Data Table for storing form responses will be created automatically on the first submission.\n\nThe workflow uses a smart batching approach (processing 10 PRs at a time) to avoid hitting GitHub's rate limits while collecting all the review data.","height":475,"width":477},"id":"88fc257d-0510-4ce7-b319-b2efaea88075","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1312,-544]},{"parameters":{"dataTableId":{"__rl":true,"mode":"list","value":""},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"6113300d-92a7-4750-9350-cfa7aa48d9b3","name":"Store Form Response","type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-880,0]}],"connections":{"Form: Select Date Range":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Store Form Response","type":"main","index":0}]]},"Get Pull Requests":{"main":[[{"node":"Filter PRs by Date Range","type":"main","index":0}]]},"Filter PRs by Date Range":{"main":[[{"node":"Loop Over PRs","type":"main","index":0}]]},"Loop Over PRs":{"main":[[{"node":"Collect All Reviews","type":"main","index":0}],[{"node":"Get PR Reviews","type":"main","index":0}]]},"Get PR Reviews":{"main":[[{"node":"Loop Over PRs","type":"main","index":0}]]},"Collect All Reviews":{"main":[[{"node":"Count Reviews per Contributor","type":"main","index":0}]]},"Store Form Response":{"main":[[{"node":"Get Pull Requests","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0ff874fe-dcbd-4bf0-91a9-cd928468d3eb","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-27T19:42:26.501Z","createdAt":"2026-01-27T19:42:26.501Z","role":"workflow:owner","workflowId":"S4R65gICB4s0-4mEv67yJ","projectId":"VUOD9GlJHSZ97mQy"}],"activeVersion":null,"tags":[]}