save-workflows-to-github-jj_gSqCdHD8aUddJwl_HL.json
{"updatedAt":"2026-01-22T13:48:43.706Z","createdAt":"2026-01-22T13:15:50.726Z","id":"jj_gSqCdHD8aUddJwl_HL","name":"Save workflows to GitHub","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"47b4b735-3c93-48c1-bdb9-2337e840a295","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[912,240]},{"parameters":{"options":{}},"id":"af0b4542-a6ae-457e-b203-fd8939022234","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1104,240]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"056eecbd-d770-4989-aaef-5c8bebf54ddb","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1312,240]},{"parameters":{"content":"## Trigger\nYou can change it to [\"Schedule\" trigger](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/) to make backups on regular basis.","height":339.51767272727324,"width":182.4715262478496},"id":"852dc5fe-e73e-4908-b2ac-8368028aa3cb","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[864,80]},{"parameters":{"content":"## Set and format date/time\nThose nodes are responsible for setting a current date and time in format `dd-MM-yyyy/H:mm`. Date and time are used to compose commit messages in GitHub, for example: `backup-12-07-2023/14:18`.","height":339.42690909090965,"width":585.4045090909088},"id":"f0d87205-41bc-451e-be58-32749e1cc467","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1072,80]},{"parameters":{"content":"## Make a list of existing files\nReturn a list of existing files (backups) in GitHub repository. Data returned by those nodes is used by \"IF\" node (later in workflow) to check whether the backup files should be created or updated.","height":339.42690909090965,"width":389.89265454545443},"id":"a8c622d0-38f2-4f55-a2fe-363f40454756","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2128,320]},{"parameters":{"content":"## Retrieve workflows\nGet all workflows form your n8n instance. Remember that **your credentials need to point to the instance that you want to backup.**\n\n⚠️ **Config n8n node whether only published workflows should be returned.**","height":355,"width":384},"id":"814d513d-07d8-4289-a9d0-061941fef1ba","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2592,-32]},{"parameters":{"content":"## Upload backup\nCheck if workflows were uploaded to repository before. If yes (true), upload the new version of the file. Otherwise (false) create the file in repository.","height":572,"width":704},"id":"7336ceef-abda-42a6-b09c-92ad39056b17","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2992,-112]},{"parameters":{"content":"## ⚠️ Note\n\n1. Complete video guide for this workflow is available [on my YouTube](https://www.youtube.com/watch?v=dNuVuoPD0Jo). \n2. Remember to add your credentials and configure GitHub nodes (covered in the video guide).\n3. If you like this workflow, please subscribe to [my YouTube channel](https://www.youtube.com/@workfloows) and/or [my newsletter](https://workfloows.com/).","height":219,"width":381},"id":"de849fd5-cd12-4f5e-bbaa-34af845e71c1","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[864,-160]},{"parameters":{"assignments":{"assignments":[{"id":"9d771254-ea55-45c9-b02b-ddac2c157278","name":"commitDate","value":"={{ $json.formattedDate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1520,240],"id":"217b10ca-9a88-4fac-9eff-94ae50ff875f","name":"Set commit date"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"rnapoles-rh","mode":"list","cachedResultName":"rnapoles-rh","cachedResultUrl":"https://github.com/rnapoles-rh"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/rnapoles-rh/n8n-workflows"},"filePath":"/"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1744,240],"id":"b5bd8a49-9f33-441c-b796-a0168d1fc74d","name":"Get repository","webhookId":"b8592494-1173-48df-9941-f27c8aded552","alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"Df9QBITxUay3KHcv","name":"GitHub account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"898e0cf9-dff9-4376-be4f-eed4fa1feb99","leftValue":"={{ $input.item.json }}","rightValue":0,"operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1936,240],"id":"f2f3d454-e67a-46ca-8328-8427438442fb","name":"Check if repo empty"},{"parameters":{"filters":{"activeWorkflows":false},"requestOptions":{}},"id":"72afd147-6324-49a1-a727-3ff2d63635c5","name":"Retrieve workflows","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[2640,160],"credentials":{"n8nApi":{"id":"we13iymNVUf5WmFA","name":"n8n account"}}},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2816,160],"id":"0e40d887-8c13-4ae5-99dc-a779cde719b9","name":"Convert to file"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"rnapoles-rh","mode":"list","cachedResultName":"rnapoles-rh","cachedResultUrl":"https://github.com/rnapoles-rh"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/rnapoles-rh/n8n-workflows"},"filePath":"/"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[2176,496],"id":"e4c6a1a0-11ca-47ab-9fc6-14e3f7dc2d27","name":"List files","webhookId":"b8592494-1173-48df-9941-f27c8aded552","alwaysOutputData":false,"executeOnce":true,"credentials":{"githubOAuth2Api":{"id":"Df9QBITxUay3KHcv","name":"GitHub account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0a912bde-0a4a-4ad6-b379-6d1d639f49ca","leftValue":"={{\n  $('Combine file names').isExecuted &&\n  $('Combine file names').item.json.name.includes(\n    $('Convert to file').item.binary.data.fileName\n  )\n}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3232,160],"id":"4c132997-35b5-494f-80e4-93bb422df6fd","name":"Check if file exists"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"rnapoles-rh","mode":"list","cachedResultName":"rnapoles-rh","cachedResultUrl":"https://github.com/rnapoles-rh"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/rnapoles-rh/n8n-workflows"},"filePath":"={{ $('Convert to file').item.binary.data.fileName }}","fileContent":"={{ $json.data }}","commitMessage":"=backup-{{ $('Set commit date').item.json.commitDate }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[3472,16],"id":"ef246323-4aad-4de6-9ebe-1987a6837b7d","name":"Update a file","webhookId":"3d2ca99a-b6a3-4222-9bb7-20b2e85db169","credentials":{"githubOAuth2Api":{"id":"Df9QBITxUay3KHcv","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"rnapoles-rh","mode":"list","cachedResultName":"rnapoles-rh","cachedResultUrl":"https://github.com/rnapoles-rh"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/rnapoles-rh/n8n-workflows"},"filePath":"={{ $('Convert to file').item.binary.data.fileName }}","fileContent":"={{ $json.data }}","commitMessage":"=backup-{{ $('Set commit date').item.json.commitDate }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[3488,288],"id":"6ef5062a-cf4c-4308-bcca-5290b3f30882","name":"Create a file","webhookId":"3d2ca99a-b6a3-4222-9bb7-20b2e85db169","credentials":{"githubOAuth2Api":{"id":"Df9QBITxUay3KHcv","name":"GitHub account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2368,496],"id":"5b232c90-e8da-4f1a-b5fd-9e5aea67193d","name":"Combine file names"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[3040,160],"id":"0987aa8f-b8ab-4cbf-98f0-a26612f17745","name":"Move to base64"},{"parameters":{"content":"## Author\nIf you like this workflow, please subscribe to [my YouTube channel](https://www.youtube.com/@workfloows) and/or [my newsletter](https://workfloows.com/).\n\nFeel free to follow me also [on LinkedIn](https://www.linkedin.com/in/oskarkramarz/).\n![Workfloows](https://imagedelivery.net/qU_kEFUNpaWKH5uKc4QmXg/4b70b380-b981-4eae-cd91-c55a2d316b00/w=70)\n**Thank you for your support!**\nOskar from [Workfloows](https://workfloows.com)","height":272,"width":374,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[464,-160],"id":"73792150-a559-43ae-9e31-398c1c3722f7","name":"Sticky Note6"}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"Get repository","type":"main","index":0}]]},"Get repository":{"main":[[{"node":"Check if repo empty","type":"main","index":0}]]},"Check if repo empty":{"main":[[{"node":"Retrieve workflows","type":"main","index":0}],[{"node":"List files","type":"main","index":0}]]},"Retrieve workflows":{"main":[[{"node":"Convert to file","type":"main","index":0}]]},"Convert to file":{"main":[[{"node":"Move to base64","type":"main","index":0}]]},"List files":{"main":[[{"node":"Combine file names","type":"main","index":0}]]},"Check if file exists":{"main":[[{"node":"Update a file","type":"main","index":0}],[{"node":"Create a file","type":"main","index":0}]]},"Combine file names":{"main":[[{"node":"Retrieve workflows","type":"main","index":0}]]},"Move to base64":{"main":[[{"node":"Check if file exists","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8cc34f31-f8df-416c-bca6-1e75afc7089e","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-22T13:15:50.728Z","createdAt":"2026-01-22T13:15:50.728Z","role":"workflow:owner","workflowId":"jj_gSqCdHD8aUddJwl_HL","projectId":"MiwM7DfkZmXTNOlB"}],"activeVersion":null,"tags":[]}