save-workflows-to-github-jj_gSqCdHD8aUddJwl_HL.json
{"updatedAt":"2026-01-26T12:17:15.203Z","createdAt":"2026-01-22T13:15:50.726Z","id":"jj_gSqCdHD8aUddJwl_HL","name":"Save workflows to GitHub","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"47b4b735-3c93-48c1-bdb9-2337e840a295","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[912,112]},{"parameters":{"options":{}},"id":"af0b4542-a6ae-457e-b203-fd8939022234","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1136,112]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"056eecbd-d770-4989-aaef-5c8bebf54ddb","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1280,112]},{"parameters":{"content":"## Use date-time stamp as commit message\nCommit message is set in the format of `backup-mm-dd-yyyy/hh:mm`","height":275,"width":585},"id":"f0d87205-41bc-451e-be58-32749e1cc467","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1120,0]},{"parameters":{"content":"## Get list of backed up workflows in GitHub\nGet list of existing files in GitHub. Used to lated decide if workflows need to be updated or backed up for the first time (create)","height":387,"width":390},"id":"a8c622d0-38f2-4f55-a2fe-363f40454756","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2224,-112]},{"parameters":{"content":"## Get list of workflows in n8n instance\n\nCurrently set to back up non-published workflows. You can change to \"Return Only Published Workflows\" in the \"Retrieve workflows\" node.","height":387,"width":432},"id":"814d513d-07d8-4289-a9d0-061941fef1ba","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2672,-112]},{"parameters":{"content":"## Update repo with workflows\nFor workflows that exist in the repo  upload the current version in the n8n instance. Otherwise create the new file in the repo.","height":476,"width":432},"id":"7336ceef-abda-42a6-b09c-92ad39056b17","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3328,-112]},{"parameters":{"content":"## ⚠️ Add credentials and update Variables node\n\n1. If not yet available create GitHub OAuth2 credential and n8n API credential\n2. Update the Variables node with your GitHub account and repo name where the workflows will be backed up.","height":219,"width":381},"id":"de849fd5-cd12-4f5e-bbaa-34af845e71c1","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1328,-256]},{"parameters":{"assignments":{"assignments":[{"id":"9d771254-ea55-45c9-b02b-ddac2c157278","name":"commitDate","value":"={{ $json.formattedDate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1424,112],"id":"217b10ca-9a88-4fac-9eff-94ae50ff875f","name":"Set commit date"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $('Variables').item.json.repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Variables').item.json.repo.name }}","mode":"name"},"filePath":"={{ $('Variables').item.json.path }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1856,64],"id":"b5bd8a49-9f33-441c-b796-a0168d1fc74d","name":"Get repository","webhookId":"b8592494-1173-48df-9941-f27c8aded552","alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"Df9QBITxUay3KHcv","name":"GitHub account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"898e0cf9-dff9-4376-be4f-eed4fa1feb99","leftValue":"={{ $input.item.json }}","rightValue":0,"operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2048,64],"id":"f2f3d454-e67a-46ca-8328-8427438442fb","name":"Check if repo empty"},{"parameters":{"filters":{"activeWorkflows":false},"requestOptions":{}},"id":"72afd147-6324-49a1-a727-3ff2d63635c5","name":"Retrieve workflows","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[2704,48],"credentials":{"n8nApi":{"id":"we13iymNVUf5WmFA","name":"n8n account"}}},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2928,48],"id":"0e40d887-8c13-4ae5-99dc-a779cde719b9","name":"Convert to file"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $('Variables').item.json.repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Variables').item.json.repo.name }}","mode":"name"},"filePath":"={{ $('Variables').item.json.path }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[2272,128],"id":"e4c6a1a0-11ca-47ab-9fc6-14e3f7dc2d27","name":"List files","webhookId":"b8592494-1173-48df-9941-f27c8aded552","alwaysOutputData":false,"executeOnce":true,"credentials":{"githubOAuth2Api":{"id":"Df9QBITxUay3KHcv","name":"GitHub account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0a912bde-0a4a-4ad6-b379-6d1d639f49ca","leftValue":"={{\n  $('Combine file names').isExecuted &&\n  $('Combine file names').item.json.name.includes(\n    $('Convert to file').item.binary.data.fileName\n  )\n}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3376,64],"id":"4c132997-35b5-494f-80e4-93bb422df6fd","name":"Check if file exists"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Variables').item.json.repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Variables').item.json.repo.name }}","mode":"name"},"filePath":"={{ $('Convert to file').item.binary.data.fileName }}","fileContent":"={{ $json.data }}","commitMessage":"=backup-{{ $('Set commit date').item.json.commitDate }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[3600,16],"id":"ef246323-4aad-4de6-9ebe-1987a6837b7d","name":"Update a file","webhookId":"3d2ca99a-b6a3-4222-9bb7-20b2e85db169","credentials":{"githubOAuth2Api":{"id":"Df9QBITxUay3KHcv","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"={{ $('Variables').item.json.repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Variables').item.json.repo.name }}","mode":"name"},"filePath":"={{ $('Convert to file').item.binary.data.fileName }}","fileContent":"={{ $json.data }}","commitMessage":"=backup-{{ $('Set commit date').item.json.commitDate }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[3600,208],"id":"6ef5062a-cf4c-4308-bcca-5290b3f30882","name":"Create a file","webhookId":"3d2ca99a-b6a3-4222-9bb7-20b2e85db169","credentials":{"githubOAuth2Api":{"id":"Df9QBITxUay3KHcv","name":"GitHub account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2480,128],"id":"5b232c90-e8da-4f1a-b5fd-9e5aea67193d","name":"Combine file names"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[3168,64],"id":"0987aa8f-b8ab-4cbf-98f0-a26612f17745","name":"Move to base64"},{"parameters":{"assignments":{"assignments":[{"id":"230b1084-4850-41fc-88ee-781140df6a7a","name":"repo.owner","value":"rnapoles-rh","type":"string"},{"id":"c47caba5-d5b2-4c50-a555-77f7075b0dc9","name":"repo.name","value":"n8n-workflows","type":"string"},{"id":"d8699914-6f5c-4418-b6c0-5f0a77107f0c","name":"path","value":"/","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1600,112],"id":"fcdb5e7e-727a-4898-a1b7-0663c522d82c","name":"Variables"},{"parameters":{"rule":{"interval":[{"triggerAtHour":21}]}},"id":"efeae709-51a4-409b-9e13-d8c021c7cda2","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[896,320],"typeVersion":1.2}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"Variables","type":"main","index":0}]]},"Get repository":{"main":[[{"node":"Check if repo empty","type":"main","index":0}]]},"Check if repo empty":{"main":[[{"node":"Retrieve workflows","type":"main","index":0}],[{"node":"List files","type":"main","index":0}]]},"Retrieve workflows":{"main":[[{"node":"Convert to file","type":"main","index":0}]]},"Convert to file":{"main":[[{"node":"Move to base64","type":"main","index":0}]]},"List files":{"main":[[{"node":"Combine file names","type":"main","index":0}]]},"Check if file exists":{"main":[[{"node":"Update a file","type":"main","index":0}],[{"node":"Create a file","type":"main","index":0}]]},"Combine file names":{"main":[[{"node":"Retrieve workflows","type":"main","index":0}]]},"Move to base64":{"main":[[{"node":"Check if file exists","type":"main","index":0}]]},"Variables":{"main":[[{"node":"Get repository","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set date","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6b10776d-24ce-4765-9a4f-ceba9c44e494","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-22T13:15:50.728Z","createdAt":"2026-01-22T13:15:50.728Z","role":"workflow:owner","workflowId":"jj_gSqCdHD8aUddJwl_HL","projectId":"MiwM7DfkZmXTNOlB"}],"activeVersion":null,"tags":[]}