workflows/daily_github_backup_automation_at_9_pm.json
{
  "updatedAt": "2026-01-27T12:02:09.696Z",
  "createdAt": "2026-01-26T21:06:55.287Z",
  "id": "CNX6HxUKHcuGF7b59Z-J8",
  "name": "Daily GitHub Backup Automation at 9 PM",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "2359fad5-bf17-4604-9202-7ec8346efc5c",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1904,
        -48
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 21
            }
          ]
        }
      },
      "id": "7d1a578a-2639-4fa0-aa4e-2ebe27179748",
      "name": "Daily at 9 PM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1904,
        128
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "owner",
              "value": "rnapoles-rh",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "repo",
              "value": "n8n-workflows",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "branch",
              "value": "main",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "72fa58f4-601c-4400-9374-d8519350558c",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1680,
        128
      ]
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "f245a69c-b070-4273-adc8-42b8203a20f4",
      "name": "Get All Workflows",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -1456,
        128
      ],
      "credentials": {
        "n8nApi": {
          "id": "1CHdM1cfaLc4WxFi",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1005ee89-8347-45ad-8c04-77658a008fb5",
      "name": "Loop Over Workflows",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1200,
        128
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get the workflow data from the current item\nconst workflow = $input.item.json;\n\n// Create a sanitized filename from the workflow name\nconst sanitizedName = workflow.name\n  .replace(/[^a-z0-9]/gi, '_')\n  .toLowerCase();\n\nconst filename = `workflows/${sanitizedName}.json`;\n\n// Get current date and time\nconst now = new Date();\nconst dateTime = now.toISOString();\n\n// Create the commit message with workflow ID and date/time\nconst commitMessage = `Backup workflow ID: ${workflow.id} - ${dateTime}`;\n\n// Prepare the workflow content as a formatted JSON string\nconst content = JSON.stringify(workflow, null, 2);\n\n// Return the prepared data\nreturn {\n  json: {\n    filename: filename,\n    commitMessage: commitMessage,\n    content: content,\n    workflowId: workflow.id,\n    workflowName: workflow.name\n  }\n};"
      },
      "id": "d476a740-bc72-4f50-8f9f-9ec6788725a4",
      "name": "Prepare Workflow Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        144
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Workflow Configuration').item.json.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Workflow Configuration').item.json.repo }}"
        },
        "filePath": "={{ $json.filename }}",
        "additionalParameters": {}
      },
      "id": "e8610bb5-46cd-450c-92af-a3b9f79f3b33",
      "name": "Check if File Exists",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -800,
        144
      ],
      "webhookId": "6d390584-4e00-49f0-8822-2bb07d6395d4",
      "credentials": {
        "githubApi": {
          "id": "Gt7jdEhCm7SRybZM",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.content }}",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4e9ff84e-822d-4f34-9d1e-15544c8c42c1",
      "name": "File Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -576,
        144
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Workflow Configuration').item.json.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Workflow Configuration').item.json.repo }}"
        },
        "filePath": "={{ $('Prepare Workflow Data').item.json.filename }}",
        "fileContent": "={{ $('Prepare Workflow Data').item.json.content }}",
        "commitMessage": "={{ $('Prepare Workflow Data').item.json.commitMessage }}"
      },
      "id": "532dc2c7-3ac6-4fe7-8264-2ff2d494e550",
      "name": "Create New File",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -320,
        160
      ],
      "webhookId": "e6b830f4-7fd4-4664-9908-984a041d241e",
      "credentials": {
        "githubApi": {
          "id": "Gt7jdEhCm7SRybZM",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Workflow Configuration').item.json.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Workflow Configuration').item.json.repo }}"
        },
        "filePath": "={{ $('Prepare Workflow Data').item.json.filename }}",
        "fileContent": "={{ $('Prepare Workflow Data').item.json.content }}",
        "commitMessage": "={{ $('Prepare Workflow Data').item.json.commitMessage }}"
      },
      "id": "7bfa357a-a05b-48b6-9732-7675da57bdfd",
      "name": "Update Existing File",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -320,
        -80
      ],
      "webhookId": "2423e152-8b0a-4c71-8fd0-e61eee404c2d",
      "credentials": {
        "githubApi": {
          "id": "Gt7jdEhCm7SRybZM",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily at 9 PM": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Get All Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Workflows": {
      "main": [
        [
          {
            "node": "Loop Over Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Workflows": {
      "main": [
        [],
        [
          {
            "node": "Prepare Workflow Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Workflow Data": {
      "main": [
        [
          {
            "node": "Check if File Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if File Exists": {
      "main": [
        [
          {
            "node": "File Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Exists?": {
      "main": [
        [
          {
            "node": "Update Existing File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New File": {
      "main": [
        [
          {
            "node": "Loop Over Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing File": {
      "main": [
        [
          {
            "node": "Loop Over Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "43a75ac8-850c-4b63-ab2d-592de24b5d28",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-26T21:06:55.287Z",
      "createdAt": "2026-01-26T21:06:55.287Z",
      "role": "workflow:owner",
      "workflowId": "CNX6HxUKHcuGF7b59Z-J8",
      "projectId": "VUOD9GlJHSZ97mQy"
    }
  ],
  "activeVersion": null,
  "tags": []
}